*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
.main{
    height: 100%;
    width: 100%;
    background-color: #000;
  
}
h1{
    font-size: 6vw;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}

img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    opacity: 0;
}

.parts{
    height: 23%;
    border-bottom: 1px solid #fff;
    padding: 10px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: center; */
}





